*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans"
}

.box{
	width: 50%;
	padding-top: 25%;
	background-color: rgba(0, 0, 0, 0.526);
}

.parent{
	width: 50%;
	height: 400px;
	background-color: orange;
}
