*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.bg{
	width: 500px;
	height: 500px;
	margin: 0 auto;

	background-color: rgba(0, 0, 0, 0.4);
	background-image: url('imagens/imagem.jpg');
    background-size: 300px 200px;
    background-repeat: repeat-y;/* no-repeat repeat-x repeat-y*/

}

